.page_employers_info td,
.page_employers_info th{
	vertical-align: middle;
}

/*Область списка*/
.page_employers_info .sleft_panel{
	position: absolute;
	left:0px;
	top:0px;
	bottom: 0px;
	width: 310px;
	border: 1px solid #ccc;
	overflow: auto;
}


.page_employers_info .sright_panel{
	position: absolute;
	left:320px;
	top:0px;
	bottom: 0px;
	right: 0px;
	border: 1px solid #ccc;
	overflow: auto;
	padding: 5px;
}


/*Панель инструментов в шаге*/
.page_employers_info .small_splitter{
	position: absolute;
	left:313px;
	width: 4px;
	top:0px;
	bottom: 0px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #e3e3e3 url(../images/handle_h.gif) center center no-repeat;
	cursor: col-resize;
}


/*Область списка*/
.page_employers_info .left_panel{
	position: absolute;
	left:10px;
	top:55px;
	bottom: 10px;
	width: 400px;
	border: 1px solid #ccc;
	overflow: auto;
}


.page_employers_info .right_panel{
	position: absolute;
	left:506px;
	top:55px;
	bottom: 10px;
	right: 10px;
	border: 1px solid #ccc;
	overflow: auto;
}


/*Панель инструментов в шаге*/
.page_employers_info .splitter{
	text-align:center;
	vertical-align:middle;
	position: absolute;
	left:413px;
	top:55px;
	bottom: 10px;
	width: 90px;
	overflow: hidden;
}

.page_employers_info .splitter_handle{
	background: url(../images/buttons/resize_h.png) center top no-repeat;
	width:100%;
	height:64px;
	margin-bottom:100px;
	opacity:0.5;
	cursor: col-resize;
}
.page_employers_info .splitter_handle:hover{
	opacity:1;
}


.page_employers_info .splitter > .toolbutton{
	margin-bottom: 20px;
	padding:0px;
	height: 90px;
	display:inline-block;
	vertical-align:bottom;
	text-align:center;
	text-decoration: none;
	color:#505b6b;
	opacity:0.7;
	cursor: pointer;
	border-left:3px double #fff;
	border-right:3px double #fff;
}


.page_employers_info .splitter > .toolbutton:hover{
	color:#222;
	opacity:1;
}

.page_employers_info .splitter > .toolbutton > div{
	margin-top:70px;
	font-size: 12px;
	font-weight: bold;
	text-align:center;
}


.page_employers_info .splitter > div.toolbutton.include{
	background:url(../images/buttons/button_back.png) center top no-repeat;
}
.page_employers_info .splitter > div.toolbutton.exclude{
	background:url(../images/buttons/button_next.png) center top no-repeat;
}




.page_employers_info #profile_wrapper,
.page_employers_info #assistants_wrapper{
	position: absolute;
	left:130px;
	top:55px;
	bottom:10px;
	right:5px;
	padding-right:5px;
	overflow-y:auto;
}



/*Панель инструментов в шаге*/
.page_employers_info .toolarea{
	position: absolute;
	left:10px;
	top:55px;
	bottom:10px;
	overflow:hidden;
	width: 110px;
}

.page_employers_info .toolarea > .toolbutton{
	margin-bottom: 20px;
	padding:0px;
	height: 90px;
	width: 100px;
	display:inline-block;
	vertical-align:bottom;
	text-align:center;
	text-decoration: none;
	color:#505b6b;
	opacity:0.7;
	cursor: pointer;
	border-left:3px double #fff;
	border-right:3px double #fff;
}

.page_employers_info .toolarea > .toolbutton:hover{
	color:#222;
	opacity:1;
	border-left:3px double #eaeaea;
	border-right:3px double #eaeaea;
}

.page_employers_info .toolarea > .toolbutton.active{
	color:#222;
	opacity:1;
	border-left:3px double #ccc;
	border-right:3px double #ccc;
}

.page_employers_info .toolarea > .toolbutton > div{
	margin-top:70px;
	font-size: 12px;
	font-weight: bold;
	text-align:center;
}

.page_employers_info .toolarea > div.toolbutton.profile{
	background:url(../images/buttons/profile.png) center top no-repeat;
}

.page_employers_info .toolarea > div.toolbutton.security{
	background:url(../images/buttons/user_security.png) center top no-repeat;
}

.page_employers_info .toolarea > div.toolbutton.mail{
	background:url(../images/buttons/mail.png) center top no-repeat;
}

.page_employers_info .toolarea > div.toolbutton.certificate{
	background:url(../images/buttons/certificate.png) center top no-repeat;
}

.page_employers_info .toolarea > div.toolbutton.assistants{
	background:url(../images/buttons/assistants.png) center top no-repeat;
}

.page_employers_info .toolarea > div.toolbutton.delegates{
	background:url(../images/buttons/assistant.png) center top no-repeat;
}

.page_employers_info .toolarea > div.toolbutton.history{
	background:url(../images/buttons/log_history.png) center top no-repeat;
}

.page_employers_info .steparea{
	position: relative !important;
	right:0px;
	top:0px;
	height: auto;
	padding: 10px;
}

.page_employers_info .steparea h1{
	font-size:16px;
}

.page_employers_info .steparea h2{
	margin: 10px 0px;
	font-size: 12px;
	line-height: 20px;
	color: #505b6b;
}


.page_employers_info .file_input_div{
	position: relative; 
	overflow: hidden;
	right:0px;
	top:0px;
	height: 40px;
	text-align:left;
}

.page_employers_info .file_input_hidden{
	height: 45px; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 150px;
	opacity: 0; 
	filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;
}

.page_employers_info .table_area{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}



.page_employers_info #post_selector_companies_select{
	width:100%;
	height:100%;
	border:0px;
}

.page_employers_info #post_selector_org_structure{
	margin:5px;
}



.page_employers_info .table_filter{
	height: 32px;
	overflow: hidden;
	min-width: 150px;
}

.page_employers_info .table_filter .flabel{
	float: left;
	margin: 0px 5px;
	width: 50px;
	overflow: hidden;
	line-height: 30px;
}


.page_employers_info .table_filter .fbutton{
	float: right;
	margin: 0px 3px;
	width: 16px;
	height: 30px;
	overflow: hidden;
	background: transparent url(../images/filter.png) left center no-repeat;
	cursor: pointer;
}


.page_employers_info .table_filter .finput{
	margin-left: 60px;
	margin-right: 35px;
	margin-top: 1px;
}

.page_employers_info .table_filter .finput input{
	width:100%;
}

.page_employers_info .table_filter .fselect{
	margin-left: 60px;
	margin-right: 5px;
}

.page_employers_info .table_filter .fselect select{
	width:100%;
}


.page_employers_info #post_selector_period_wrapper{
	overflow-y: auto;
}


.page_employers_info #assistants_selector_wrapper{
	overflow-y: auto;
}

.page_employers_info #post_delete_button_area{
	display: inline-block;
}