/*Список*/
.jslist{
	position: relative;
	border: 1px solid #2B323B;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:5px;
}

.jslist select,
.jslist input,
.jslist textarea{
	width: 100%;
	padding: 2px;
}


/***********************************************************************
Заголовки столбцов
***********************************************************************/

/*Список - область заголовков*/
.jslist div.lheader{
	background: #495362;
	position: relative;
	border: none !important;
	border-top: 1px solid #6A7585 !important;
	overflow:hidden;
	padding: 0;
}

.jslist div.lheaderbox{
	position:relative;
	overflow:hidden;
	width:30000px;
}

/*Список - область заголовков - заголовок*/
.jslist  div.lheader .th{
	float:left;
	vertical-align: middle !important;
	display:inline;
	overflow:hidden;
	padding: 4px;
	cursor:pointer;
	border-right: 1px solid #8E9BAC;
	border-left: 1px solid #495362;
	border-bottom: 1px solid #495362;
	text-align: center;
	font-weight: bold;
	color: #CFD7E4;
	text-shadow: 1px 1px 0 black;
	font-size:12px;
	line-height:16px;
}

/*Список - область заголовков - заголовок - подсветка при наведении*/
.jslist div.lheader .th:hover{
	border-bottom: 1px solid orange !important;
	background: #505b6b;
	color:#fff;
}


/*Сортировка списка*/
.jslist div.lheader .sortedOn{
	background: url(../images/table-sort.png) no-repeat 2px 6px;
}

.jslist div.lheader div.sortedASC{
	background: url(../images/table-sort-asc.png) no-repeat 2px 2px;
}

.jslist div.lheader div.sortedDESC{
	background: url(../images/table-sort-desc.png) no-repeat 2px 8px;
}


/***********************************************************************
Данные
***********************************************************************/

/*Список - область данных*/
.jslist div.ldata{
	background: #fff;
	overflow: auto;
	position: relative;
}


/*Список - область данных - раздел*/
.jslist  table th.th{
	vertical-align: middle !important;
	overflow:hidden;
	padding: 8px;
	cursor:pointer;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #495362;
	text-align: left;
	font-weight: bold;
	width:100%;
	color:#fff;
	background-color: #8E9BAC;
	font-size:12px;
	line-height:16px;
}



/*Список - область данных - ячейка данных*/
.jslist  div.ldata .td{
	text-align: left;
	vertical-align: middle !important;
	padding: 2px 4px;
	cursor:pointer;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #CCC;
	line-height:16px !important;
}


/*Список - область данных - ячейка данных*/
.jslist  div.ldata .tddiv{
	overflow:hidden;
}






/*Список - область данных - список*/
.jslist div.ldata .table{
	margin:0;
	padding:0;
	border-right:1px solid #ddd;
}


/*Список - область данных - строка списка*/
.jslist div.ldata .tr{
	margin:0;
	padding:0;
	overflow:hidden;
}




/*Верхняя панель*/
.jslist div.ltop{
	background: #fafafa url(/lib/themes/default/images/jslist/bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #ccc;
	border-bottom: 0px;
	overflow: hidden;
	height:25px;

}

/*Верхняя панель - поле фильтрации*/
.jslist div.ltop input.ifilter{
	padding: 0px;
	border: 1px solid #ccc;
	line-height:16px;
	height: 18px;
}



/*Список - область итогов*/
.jslist div.lfooter{
	background: #495362;
	position: relative;
	border: 1px solid #ccc;
	border-top: 0px;
	border-bottom: 0px;
	overflow:hidden;
}


.jslist div.lfooterbox{
	position:relative;
	overflow:hidden;
	width:30000px;
}



/*Список - область итогов - итоги*/
.jslist  div.lfooter .th{
	float:left;
	vertical-align: middle !important;
	display:inline;
	white-space:nowrap;
	overflow:hidden;
	padding: 4px;
	cursor:pointer;
	border-right: 1px solid #ddd;
	border-left: 1px solid #eee;
	text-align: center;
	font-weight: bold;
	line-height:16px !important;
	cursor:pointer;
}
