/*Область списка*/
.page_org_posts #posts_area{
	position: absolute;
	left:10px;
	top:10px;
	bottom: 10px;
	width: 400px;
	border: 1px solid #ccc;
}

/*Область информации*/
.page_org_posts #posts_info{
	position: absolute;
	left:420px;
	top:10px;
	bottom: 10px;
	right: 10px;
	border: 1px solid #ccc;
	overflow: auto;
	padding: 5px;
}

/*Разделитель*/
.page_org_posts #posts_splitter{
	position: absolute;
	left:413px;
	width: 4px;
	top:10px;
	bottom: 10px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #e3e3e3 url(../images/handle_h.gif) center center no-repeat;
	cursor: col-resize;
}

/*Область фильтра объектов в таблице объектов*/
.page_org_posts .posts_table_filter{
	height: 32px;
	overflow: hidden;
	min-width: 150px;
}

.page_org_posts .posts_table_filter .flabel{
	float: left;
	margin: 0px 5px;
	width: 50px;
	overflow: hidden;
	line-height: 30px;
}


.page_org_posts .posts_table_filter .fbutton{
	float: right;
	margin: 0px 3px;
	width: 16px;
	height: 30px;
	overflow: hidden;
	background: transparent url(../images/filter.png) left center no-repeat;
	cursor: pointer;
}


.page_org_posts .posts_table_filter .finput{
	margin-left: 60px;
	margin-right: 35px;
	margin-top: 1px;
}

.page_org_posts .posts_table_filter .finput input{
	width:100%;
}

.page_org_posts .posts_table_filter .fselect{
	margin-left: 60px;
	margin-right: 5px;
}

.page_org_posts .posts_table_filter .fselect select{
	width:100%;
}



/*Область вывода таблицы*/
.page_org_posts #posts_table_area_wrapper{
	overflow: auto;
	position: absolute;
	left:0px;
	top:32px;
	bottom: 0px;
	right: 0px;
}
.page_org_posts .posts_table_area{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}